<launch>
	<!-- Environment -->
	<include file="$(find ros_slam_exploration)/launch/turtlebot3_house.launch"    />

	<!-- SLAM_method -->
	<include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
		<arg name="slam_methods" value="gmapping"/>
	</include>

	<!-- exploration -->
	<node pkg="explore_lite" type="explore" name="explore">
		<remap from="costmap" to="map"/>
	</node>

	<!-- move_base -->
	<include file="$(find turtlebot3_navigation)/launch/move_base.launch"/>
</launch>


